# NYC K-8 Student Performance 2016-2024: Analyzing the Effects of the Covid-19 Pandemic Lockdown on Educational Outcomes and More

# _Multivariate Analyses_

## NYC K-8 Public School Demographics 2016-2024

**The NYC Public School System is the largest public school district in the entire United States and among one of the largest in the world as of July 2025.**

**In 2023-24, there were approximately [1.1 million K-12 students enrolled](schools.nyc.gov/about-us/reports/doe-data-at-a-glance) across more than 1,800 schools (including charter schools).**

In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [9]:
#Store demographic csv in variable 
demo_path = ("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/2015-2024 k12_borough_demographic_snapshot.csv")

#load csv
demo = pd.read_csv(demo_path)

In [10]:
#Examine total student enrollment from 2015-2024
total_enrollment = demo[["Year","Total Enrollment", "Total Borough HS Enrollment"]]
total_enrollment

       Year Total Enrollment Total Borough HS Enrollment
0   2015-16           241986                       64351
1   2016-17           241776                       64262
2   2017-18           239955                       63146
3   2018-19           236267                       61941
4   2019-20           235448                       59875
5   2021-22          176,938                      49,921
6   2022-23          170,262                      48,344
7   2023-24          167,603                      48,405
8   2015-16           342119                       93004
9   2016-17           344408                       93743
10  2017-18           342622                       93016
11  2018-19           339985                       92539
12  2019-20           342332                       93133
13  2021-22          270,920                      81,952
14  2022-23          269,044                      80,473
15  2023-24          268,900                      81,108
16  2015-16           177179                       68364
17  2016-17           178383                       69248
18  2017-18           177752                       68719
19  2018-19           177512                       68627
20  2019-20           180636                       70089
21  2021-22          133,158                      59,448
22  2022-23          129,942                      58,086
23  2023-24          132,817                      58,279
24  2015-16           306965                       84338
25  2016-17           310741                       85618
26  2017-18           309302                       85468
27  2018-19           307114                       84739
28  2019-20           305623                       83521
29  2021-22          274,186                      77,827
30  2022-23          274,177                      78,465
31  2023-24          279,218                      80,494
32  2015-16            65714                       18757
33  2016-17            65924                       19160
34  2017-18            65703                       19251
35  2018-19            65623                       19263
36  2019-20            67829                       19224
37  2021-22           63,934                      18,606
38  2022-23           63,552                      18,385
39  2023-24           63,526                      18,392