# NYC K-8 Student Performance 2016-2024: Analyzing the Effects of the Covid-19 Pandemic Lockdown on Educational Outcomes and More
___

## _Overview of Data Set Details_

In [1]:
import pandas as pd

In [2]:
#Store csv file paths in variables for readability

demo_path = ("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/NYC_K12 Demographic_Snapshot_2015-2024.csv")
interact_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/2020 Interactions NYC K-8 Attendance_Metric.csv")
attend16_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/nyc2016-2018 publicborough_attendance.csv")
attend24_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/nyc2018-24_k8_borough_attendance.csv")
ela_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/ELA Test_Results 2016-2023 3-8grades.csv")
math_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/Math_Test_Results nycK-8 2016-2023.csv")
sth_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/STH_K-8 2018-2024 Attendance.csv")

In [3]:
#Load datasets

demo = pd.read_csv(demo_path)
interactions = pd.read_csv(interact_path)
attend2016 = pd.read_csv(attend16_path)
attend2024 = pd.read_csv(attend24_path)
ela_test = pd.read_csv(ela_path)
math_test = pd.read_csv(math_path)
sth_df = pd.read_csv(sth_path)

In [4]:
#Shape of nyc k-8 demographics dataset (rows and columns)

demo.shape

(45, 39)

In [5]:
#Shape of nyc k-8 interactions dataset (rows and columns)

interactions.shape

(45, 11)

In [6]:
#Shape of nyc k-8 2016 attendance dataset (rows and columns)

attend2016.shape

(1680, 11)

In [7]:
#Shape of nyc k-8 2024 attendance dataset (rows and columns)

attend2024.shape

(552, 11)

In [8]:
#Shape of nyc k-8 ela test dataset (rows and columns)

ela_test.shape

(4285, 11)

In [9]:
#Shape of nyc math test dataset (rows and columns)

math_test.shape

(4314, 11)

In [10]:
#Shape of nyc k-8 sth [students in temporary housing] dataset (rows and columns)

sth_df.shape

(540, 9)

In [11]:
#First 5 rows of demographics dataset

demo.head()

,Borough,Year,Total Enrollment,Total Borough HS Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,Bronx,2015-16,241986,64351,15081,18952,20013,19554,18695,18189,...,0.014,10149,0.042,54745,0.226,38372,0.159,198581,0.821,0.778
1,Bronx,2016-17,241776,64262,14825,17974,19579,19611,18943,18505,...,0.015,10381,0.043,55462,0.229,41129,0.170,197520,0.817,0.774
2,Bronx,2017-18,239955,63146,14948,17812,18598,19008,18940,18535,...,0.015,10531,0.044,55719,0.232,41316,0.172,208334,0.868,0.857
3,Bronx,2018-19,236267,61941,15105,17259,18071,17962,18318,18426,...,0.016,10219,0.043,55847,0.236,40055,0.170,203040,0.859,0.854
4,Bronx,2019-20,235448,59875,17990,17103,17680,17598,17462,17981,...,0.020,10003,0.042,54176,0.230,37502,0.159,200336,0.851,0.860

In [12]:
#First 5 rows of interactions dataset

interactions.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,% Days Absent,% Days Present,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,All Students,2019-20,743523,119135,16.02,83.98,624388,84.0,42.2
1,Bronx,01,All Students,2019-20,777471,124936,16.07,83.93,652535,83.9,41.9
2,Bronx,02,All Students,2019-20,802955,116146,14.46,85.54,686809,85.5,39.1
3,Bronx,03,All Students,2019-20,813797,106203,13.05,86.95,707594,86.9,36.1
4,Bronx,04,All Students,2019-20,856592,103827,12.12,87.88,752765,87.9,34.5

In [13]:
#First 5 rows of 2016 attendance dataset

attend2016.head()

,Borough,Grade,Category,Year,# Total Days,% Days Present,% Days Absent,# Days Absent,# Days Present,% Attendance,% Chronically Absent
0,Bronx,All Grades,All Students,2016-17,34766072,89.75,10.25,3561807,31204265,89.8,34.0
1,Bronx,All Grades,All Students,2017-18,34585105,89.46,10.54,3645415,30939690,89.5,36.0
2,Bronx,0K,All Students,2016-17,2691358,89.74,10.26,276079,2415279,89.7,40.9
3,Bronx,0K,All Students,2017-18,2621525,89.28,10.72,280985,2340540,89.3,43.8
4,Bronx,1,All Students,2016-17,2925790,90.99,9.01,263694,2662096,91.0,34.8

In [14]:
#First 5 rows of 2024 attendance dataset

attend2024.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,% Days Absent,% Days Present,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,Not SWD,2018-19,1901356,196574,10.34,89.66,1704782,89.7,41.6
1,Bronx,0K,SWD,2018-19,555029,65687,11.83,88.17,489342,88.2,48.2
2,Bronx,0K,Not SWD,2019-20,1173659,112661,9.60,90.40,1060998,90.4,37.9
3,Bronx,0K,SWD,2019-20,326556,35872,10.98,89.02,290684,89.0,43.5
4,Bronx,0K,Not SWD,2020-21,1553018,181691,11.70,88.30,1371327,88.3,38.4

In [15]:
#First 5 rows of ela test dataset

ela_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,9820,437,43.1,25.9,21.4,9.5,30.9
1,BRONX,4,2023,All Students,10626,441,31.7,32.8,24.9,10.6,35.5
2,BRONX,5,2023,All Students,11059,441,33.2,32.1,26.3,8.4,34.7
3,BRONX,6,2023,All Students,10386,439,35.9,31.5,22.6,10.0,32.6
4,BRONX,7,2023,All Students,11081,442,33.4,28.7,26.9,11.0,37.9

In [16]:
#First 5 rows of math test dataset

math_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,10211,443,25.2,36.9,28.6,9.4,37.9
1,BRONX,4,2023,All Students,11029,441,38.3,27.3,27.3,7.0,34.4
2,BRONX,5,2023,All Students,11392,441,39.4,27.3,25.7,7.6,33.4
3,BRONX,6,2023,All Students,10720,439,42.6,27.6,24.0,5.8,29.8
4,BRONX,7,2023,All Students,11249,443,31.1,33.7,24.7,10.5,35.3

In [17]:
#First 5 rows of ela test dataset

ela_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,9820,437,43.1,25.9,21.4,9.5,30.9
1,BRONX,4,2023,All Students,10626,441,31.7,32.8,24.9,10.6,35.5
2,BRONX,5,2023,All Students,11059,441,33.2,32.1,26.3,8.4,34.7
3,BRONX,6,2023,All Students,10386,439,35.9,31.5,22.6,10.0,32.6
4,BRONX,7,2023,All Students,11081,442,33.4,28.7,26.9,11.0,37.9

In [18]:
#First 5 rows of sth dataset

sth_df.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,Not STH,2018-19,2018717,199546,1819171,90.1,39.3
1,Bronx,0K,STH,2018-19,437668,62715,374953,85.7,58.6
2,Bronx,0K,Not STH,2019-20,1245477,116248,1129229,90.7,36.3
3,Bronx,0K,STH,2019-20,254738,32285,222453,87.3,51.5
4,Bronx,0K,Not STH,2020-21,1732474,195629,1536845,88.7,37.8

In [19]:
#Get overall count of null/NaN values in the demographics dataset
null_count = demo.isnull().sum()
print("Demographics Dataset Null Values by Column\n", null_count)

Demographics Dataset Null Values by Column
 Borough                                       0
Year                                          0
Total Enrollment                              0
Total Borough HS Enrollment                   0
Grade 3K+PK (Half Day & Full Day)             0
Grade K                                       0
Grade 1                                       0
Grade 2                                       0
Grade 3                                       0
Grade 4                                       0
Grade 5                                       0
Grade 6                                       0
Grade 7                                       0
Grade 8                                       0
Grade 9                                       0
Grade 10                                      0
Grade 11                                      0
Grade 12                                      0
# Female                                      0
% Female                                      0
# Male                                        0
% Male                                        0
# Asian                                       0
% Asian                                       0
# Black                                       0
% Black                                       0
# Hispanic                                    0
% Hispanic                                    0
# Multiple Race Categories Not Represented    0
% Multiple Race Categories Not Represented    0
# White                                       0
% White                                       0
# Students with Disabilities                  0
% Students with Disabilities                  0
# English Language Learners                   0
% English Language Learners                   0
# Poverty                                     0
% Poverty                                     0
Economic Need Index                           0
dtype: int64

In [20]:
#Get overall count of null/NaN values in the interactions dataset
intnull_count = interactions.isnull().sum()
print("Interactions Dataset Null Values by Column\n\n",intnull_count)

Interactions Dataset Null Values by Column

 Borough                 0
Grade                   0
Category                0
Year                    0
# Total Days            0
# Days Absent           0
% Days Absent           0
% Days Present          0
# Days Present          0
% Attendance            0
% Chronically Absent    0
dtype: int64

In [21]:
#Get overall count of null/NaN values in the 2016-2020 attendance dataset
attnull_count = attend2016.isnull().sum()
print("Attendance 2016-2018 Dataset Null Values by Column\n\n",attnull_count)

Attendance 2016-2018 Dataset Null Values by Column

 Borough                 0
Grade                   0
Category                0
Year                    0
# Total Days            0
% Days Present          0
% Days Absent           0
# Days Absent           0
# Days Present          0
% Attendance            0
% Chronically Absent    0
dtype: int64

In [22]:
#Get overall count of null/NaN values in the 2019-2024 attendance dataset
a24null_count = attend2016.isnull().sum()
print("Attendance 2019-2024 Dataset Null Values by Column\n\n",a24null_count)

Attendance 2019-2024 Dataset Null Values by Column

 Borough                 0
Grade                   0
Category                0
Year                    0
# Total Days            0
% Days Present          0
% Days Absent           0
# Days Absent           0
# Days Present          0
% Attendance            0
% Chronically Absent    0
dtype: int64

In [23]:
#Get overall count of null/NaN values in the ela dataset
elanull_count = ela_test.isnull().sum()
print("ELA Test Dataset Null Values by Column\n\n",elanull_count)

ELA Test Dataset Null Values by Column

 Borough             0
Grade               0
Year                0
Demographic         0
Number Tested       0
Mean Scale Score    0
Level 1 %           0
 Level 2 %          0
Level 3 %           0
Level 4 %           0
Level 3 and 4 %     0
dtype: int64

In [24]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the demographics dataset
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 39 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Borough                                     45 non-null     object
 1   Year                                        45 non-null     object
 2   Total Enrollment                            45 non-null     object
 3   Total Borough HS Enrollment                 45 non-null     object
 4   Grade 3K+PK (Half Day & Full Day)           45 non-null     object
 5   Grade K                                     45 non-null     object
 6   Grade 1                                     45 non-null     object
 7   Grade 2                                     45 non-null     object
 8   Grade 3                                     45 non-null     object
 9   Grade 4                                     45 non-null     object
 10  Grade 5                                     45 non-null     object
 11  Grade 6                                     45 non-null     object
 12  Grade 7                                     45 non-null     object
 13  Grade 8                                     45 non-null     object
 14  Grade 9                                     45 non-null     object
 15  Grade 10                                    45 non-null     object
 16  Grade 11                                    45 non-null     object
 17  Grade 12                                    45 non-null     object
 18  # Female                                    45 non-null     object
 19  % Female                                    45 non-null     float64
 20  # Male                                      45 non-null     object
 21  % Male                                      45 non-null     float64
 22  # Asian                                     45 non-null     object
 23  % Asian                                     45 non-null     float64
 24  # Black                                     45 non-null     object
 25  % Black                                     45 non-null     float64
 26  # Hispanic                                  45 non-null     object
 27  % Hispanic                                  45 non-null     float64
 28  # Multiple Race Categories Not Represented  45 non-null     int64
 29  % Multiple Race Categories Not Represented  45 non-null     float64
 30  # White                                     45 non-null     object
 31  % White                                     45 non-null     float64
 32  # Students with Disabilities                45 non-null     object
 33  % Students with Disabilities                45 non-null     float64
 34  # English Language Learners                 45 non-null     object
 35  % English Language Learners                 45 non-null     float64
 36  # Poverty                                   45 non-null     object
 37  % Poverty                                   45 non-null     float64
 38  Economic Need Index                         45 non-null     float64
dtypes: float64(11), int64(1), object(27)
memory usage: 13.8+ KB

In [25]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the interactions dataset
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               45 non-null     object
 1   Grade                 45 non-null     object
 2   Category              45 non-null     object
 3   Year                  45 non-null     object
 4   # Total Days          45 non-null     int64
 5   # Days Absent         45 non-null     int64
 6   % Days Absent         45 non-null     float64
 7   % Days Present        45 non-null     float64
 8   # Days Present        45 non-null     int64
 9   % Attendance          45 non-null     float64
 10  % Chronically Absent  45 non-null     float64
dtypes: float64(4), int64(3), object(4)
memory usage: 4.0+ KB

In [26]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the 2016-20 attendance dataset
attend2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               1680 non-null   object
 1   Grade                 1680 non-null   object
 2   Category              1680 non-null   object
 3   Year                  1680 non-null   object
 4   # Total Days          1680 non-null   int64
 5   % Days Present        1680 non-null   float64
 6   % Days Absent         1680 non-null   float64
 7   # Days Absent         1680 non-null   int64
 8   # Days Present        1680 non-null   int64
 9   % Attendance          1680 non-null   float64
 10  % Chronically Absent  1680 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 144.5+ KB

In [27]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the attendance 24 dataset
attend2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               552 non-null    object
 1   Grade                 552 non-null    object
 2   Category              552 non-null    object
 3   Year                  552 non-null    object
 4   # Total Days          552 non-null    int64
 5   # Days Absent         552 non-null    int64
 6   % Days Absent         552 non-null    float64
 7   % Days Present        552 non-null    float64
 8   # Days Present        552 non-null    int64
 9   % Attendance          552 non-null    float64
 10  % Chronically Absent  552 non-null    float64
dtypes: float64(4), int64(3), object(4)
memory usage: 47.6+ KB

In [28]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the ela test dataset
ela_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4285 entries, 0 to 4284
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Borough           4285 non-null   object
 1   Grade             4285 non-null   object
 2   Year              4285 non-null   int64
 3   Demographic       4285 non-null   object
 4   Number Tested     4285 non-null   int64
 5   Mean Scale Score  4285 non-null   object
 6   Level 1 %         4285 non-null   object
 7    Level 2 %        4285 non-null   object
 8   Level 3 %         4285 non-null   object
 9   Level 4 %         4285 non-null   object
 10  Level 3 and 4 %   4285 non-null   object
dtypes: int64(2), object(9)
memory usage: 368.4+ KB

In [29]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the math test dataset
math_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4314 entries, 0 to 4313
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Borough           4314 non-null   object
 1   Grade             4314 non-null   object
 2   Year              4314 non-null   int64
 3   Demographic       4314 non-null   object
 4   Number Tested     4314 non-null   int64
 5   Mean Scale Score  4314 non-null   object
 6   Level 1 %         4314 non-null   object
 7   Level 2 %         4314 non-null   object
 8   Level 3 %         4314 non-null   object
 9   Level 4 %         4314 non-null   object
 10  Level 3 and 4 %   4314 non-null   object
dtypes: int64(2), object(9)
memory usage: 370.9+ KB

In [30]:
#Get column data types (dtype), overall count of each present dtype, and memory usage in the student housing dataset
sth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               540 non-null    object
 1   Grade                 540 non-null    object
 2   Category              540 non-null    object
 3   Year                  540 non-null    object
 4   # Total Days          540 non-null    int64
 5   # Days Absent         540 non-null    int64
 6   # Days Present        540 non-null    int64
 7   % Attendance          540 non-null    float64
 8   % Chronically Absent  540 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 38.1+ KB

In [31]:
#merge attendance datasets

all_attend = pd.concat([attend2016, attend2024], ignore_index=True)

In [32]:
#get shape of merged attendance dataset

all_attend.shape

(2232, 12)

In [33]:
#Get overall count of null/NaN values in the merged attendance dataset
attnull_count = attend2016.isnull().sum()
print("Merged Attendance Dataset Null Values by Column\n\n",attnull_count)

Merged Attendance Dataset Null Values by Column

 Borough                 0
Grade                   0
Category                0
Year                    0
# Total Days            0
% Days Present          0
% Days Absent           0
# Days Absent           0
# Days Present          0
% Attendance            0
% Chronically Absent    0
dtype: int64

In [34]:
#Check in Attendance Se for duplicate entries, get count of duplicates, then store in variable
duplicate_counts = all_attend.value_counts()
duplicate_count = duplicate_counts[duplicate_counts > 1].sum()
print("The total amount of duplicate values in the entire Merged Attendance dataset is", duplicate_count)

The total amount of duplicate values in the entire Merged Attendance dataset is 0

In [35]:
#save merged dataset to csv for later use

all_attend.to_csv('merged_attendance_2016-2024.csv', index=False)