# NYC K-8 Student Performance 2016-2024: Analyzing the Effects of the Covid-19 Pandemic Lockdown on Educational Outcomes and More
___

## _Overview of Data Set Details_

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
#Store csv file paths in variables for readability

demo_path = ("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/2016-2021 K8 Borough Demographic_Snapshot  copy.csv")
interact_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/2020 Interactions NYC K-8 Attendance_Metric.csv")
attend_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/attendance_2016-24 K8 borough.csv")
ela_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/ELA Test_Results 2016-2023 3-8grades.csv")
math_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/Math_Test_Results nycK-8 2016-2023.csv")
sth_path=("/Users/sa14/Desktop/NYC-K-8-Public-School-Student-Performance-2016-2024/data/STH_K-8 2018-2024 Attendance.csv")

In [3]:
#Load datasets

demo = pd.read_csv(demo_path)
interactions = pd.read_csv(interact_path)
attendance = pd.read_csv(attend_path)
ela_test = pd.read_csv(ela_path)
math_test = pd.read_csv(math_path)
sth_df = pd.read_csv(sth_path)

In [4]:
#Shape of nyc k-8 demographics dataset (rows and columns)

demo.shape

(25, 23)

In [5]:
#Shape of nyc k-8 interactions dataset (rows and columns)

interactions.shape

(45, 11)

In [6]:
#Shape of nyc k-8 attendance dataset (rows and columns)

attendance.shape

(5071, 11)

In [7]:
#Shape of nyc k-8 ela test dataset (rows and columns)

ela_test.shape

(4285, 11)

In [8]:
#Shape of nyc math test dataset (rows and columns)

math_test.shape

(4314, 11)

In [9]:
#Shape of nyc k-8 sth [students in temporary housing] dataset (rows and columns)

sth_df.shape

(540, 9)

In [10]:
#First 5 rows of demographics dataset

demo.head()

,Borough,Year,Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,Grade 7,...,% Asian,% Black,% Hispanic,% Multi-Racial,% Native American,% White,% Students with Disabilities,% English Language Learners,% Poverty,Economic Need Index
0,Bronx,2016-17,17974,19579,19611,18943,18505,17824,17207,16610,...,0.046,0.277,0.619,0.003,0.009,0.043,0.229,0.170,0.817,0.774
1,Bronx,2017-18,17812,18598,19008,18940,18535,18173,17152,17039,...,0.048,0.273,0.620,0.004,0.009,0.044,0.232,0.172,0.868,0.857
2,Bronx,2018-19,17259,18071,17962,18318,18426,18026,17405,16921,...,0.049,0.271,0.621,0.004,0.010,0.043,0.236,0.170,0.859,0.854
3,Bronx,2019-20,17103,17680,17598,17462,17981,18216,17498,17260,...,0.050,0.268,0.620,0.005,0.009,0.042,0.233,0.159,0.862,0.868
4,Bronx,2020-21,15468,16863,17031,17016,16906,17579,17401,17160,...,0.050,0.268,0.620,0.006,0.010,0.042,0.234,0.164,0.856,0.858

In [11]:
#First 5 rows of interactions dataset

interactions.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,% Days Absent,% Days Present,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,All Students,2019-20,743523,119135,16.02,83.98,624388,84.0,42.2
1,Bronx,01,All Students,2019-20,777471,124936,16.07,83.93,652535,83.9,41.9
2,Bronx,02,All Students,2019-20,802955,116146,14.46,85.54,686809,85.5,39.1
3,Bronx,03,All Students,2019-20,813797,106203,13.05,86.95,707594,86.9,36.1
4,Bronx,04,All Students,2019-20,856592,103827,12.12,87.88,752765,87.9,34.5

In [12]:
#First 5 rows of attendance dataset

attendance.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,% Days Absent,% Days Present,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,All Students,2016-17,2691358,276079,10.26,89.74,2415279,89.7,40.9
1,Bronx,0K,All Students,2017-18,2621525,280985,10.72,89.28,2340540,89.3,43.8
2,Bronx,0K,All Students,2018-19,2456385,262261,10.68,89.32,2194124,89.3,43.1
3,Bronx,0K,All Students,2019-20,1500215,148533,9.90,90.10,1351682,90.1,39.1
4,Bronx,0K,All Students,2020-21,1993909,240938,12.08,87.92,1752971,87.9,40.3

In [13]:
#First 5 rows of ela test dataset

ela_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,9820,437,43.1,25.9,21.4,9.5,30.9
1,BRONX,4,2023,All Students,10626,441,31.7,32.8,24.9,10.6,35.5
2,BRONX,5,2023,All Students,11059,441,33.2,32.1,26.3,8.4,34.7
3,BRONX,6,2023,All Students,10386,439,35.9,31.5,22.6,10.0,32.6
4,BRONX,7,2023,All Students,11081,442,33.4,28.7,26.9,11.0,37.9

In [14]:
#First 5 rows of math test dataset

math_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,10211,443,25.2,36.9,28.6,9.4,37.9
1,BRONX,4,2023,All Students,11029,441,38.3,27.3,27.3,7.0,34.4
2,BRONX,5,2023,All Students,11392,441,39.4,27.3,25.7,7.6,33.4
3,BRONX,6,2023,All Students,10720,439,42.6,27.6,24.0,5.8,29.8
4,BRONX,7,2023,All Students,11249,443,31.1,33.7,24.7,10.5,35.3

In [15]:
#First 5 rows of ela test dataset

ela_test.head()

,Borough,Grade,Year,Demographic,Number Tested,Mean Scale Score,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3 and 4 %
0,BRONX,3,2023,All Students,9820,437,43.1,25.9,21.4,9.5,30.9
1,BRONX,4,2023,All Students,10626,441,31.7,32.8,24.9,10.6,35.5
2,BRONX,5,2023,All Students,11059,441,33.2,32.1,26.3,8.4,34.7
3,BRONX,6,2023,All Students,10386,439,35.9,31.5,22.6,10.0,32.6
4,BRONX,7,2023,All Students,11081,442,33.4,28.7,26.9,11.0,37.9

In [16]:
#First 5 rows of sth dataset

sth_df.head()

,Borough,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,% Chronically Absent
0,Bronx,0K,Not STH,2018-19,2018717,199546,1819171,90.1,39.3
1,Bronx,0K,STH,2018-19,437668,62715,374953,85.7,58.6
2,Bronx,0K,Not STH,2019-20,1245477,116248,1129229,90.7,36.3
3,Bronx,0K,STH,2019-20,254738,32285,222453,87.3,51.5
4,Bronx,0K,Not STH,2020-21,1732474,195629,1536845,88.7,37.8

In [19]:
#Get overall count of null/NaN values in the demographics dataset
null_count = demo.isnull().sum()
print("Demographics Dataset Null Values by Column\n", null_count)

Demographics Dataset Null Values by Column
 Borough                         0
Year                            0
Grade K                         0
Grade 1                         0
Grade 2                         0
Grade 3                         0
Grade 4                         0
Grade 5                         0
Grade 6                         0
Grade 7                         0
Grade 8                         0
% Female                        0
% Male                          0
% Asian                         0
% Black                         0
% Hispanic                      0
% Multi-Racial                  0
% Native American               0
% White                         0
% Students with Disabilities    0
% English Language Learners     0
% Poverty                       0
Economic Need Index             0
dtype: int64

In [23]:
#Get overall count of null/NaN values in the interactions dataset
intnull_count = interactions.isnull().sum()
print("Interactions Dataset Null Values by Column\n\n",intnull_count)

Interactions Dataset Null Values by Column

 Borough                 0
Grade                   0
Category                0
Year                    0
# Total Days            0
# Days Absent           0
% Days Absent           0
% Days Present          0
# Days Present          0
% Attendance            0
% Chronically Absent    0
dtype: int64

In [24]:
#Get overall count of null/NaN values in the attendance dataset
attnull_count = attendance.isnull().sum()
print("Attendance Dataset Null Values by Column\n\n",attnull_count)

Attendance Dataset Null Values by Column

 Borough                    0
Grade                      0
Category                   0
Year                       0
# Total Days               0
# Days Absent              0
% Days Absent              0
% Days Present             0
# Days Present             0
% Attendance            2293
% Chronically Absent    2293
dtype: int64

In [26]:
#Get overall count of null/NaN values in the ela dataset
elanull_count = ela_test.isnull().sum()
print("ELA Test Dataset Null Values by Column\n\n",elanull_count)

ELA Test Dataset Null Values by Column

 Borough             0
Grade               0
Year                0
Demographic         0
Number Tested       0
Mean Scale Score    0
Level 1 %           0
 Level 2 %          0
Level 3 %           0
Level 4 %           0
Level 3 and 4 %     0
dtype: int64